@charset "UTF-8";
@import "./main.scss";
@mixin flex($direction:column,$inline:block) {
  display: if($inline==block,flex,inline-flex);
  flex-direction: $direction;
  flex-wrap: wrap;
}


:root{
	--pink:#E87A90;
    --text:#337267;
}
nav{
 
    grid-area: nav;
    background-color: rgba(83,183,63,0.00);
}
.left{
     
  grid-area: left;
	height: 80vh;
}

.recht{
background-color: rgba(184,83,184,0.00); 
grid-area: recht;
position: relative;
	height: 100%;
	
}
.recht-area{
background-color: rgba(182,34,37,0.00);
}

nav{display: flex;
justify-content:space-between;
align-items: center;
padding: 30px 10%;
	z-index: 20;
	position: sticky;
}
[class="fas fa-paw"],[class="fas fa-bars"]{color: var(--pink);
font-size: 1.5rem;
font-weight: 400;}
li a, .Einkaufswagen{
background-color: rgba(18,168,162,0);
color: var(--pink);
text-decoration: none;
	padding: 5px;
}

li{list-style: none;
display: inline;
margin-right:1rem;}	
a:hover{background-color:var(--pink);
color: white;}

.dropdown button{display: none;}

.logo{align-self: center;
justify-content: center;}

footer{color: var(--pink);
	grid-area: footer;
	position: absolute;
	bottom: 0.5rem;
	left:45%;
}


@media only screen and (max-width:768px){
	body{display: grid;
    height: 100vh;
   grid-template-columns: 100%;
    grid-template-rows: 10% auto 10%;
    background-color:rgba(220,165,95,0.0);
	grid-template-areas: 
		"nav"
		"left"
		"footer"
}
	
	nav{
    grid-area: nav;
}
    
.left{
      grid-area: left;
}
.recht{
      background-color: rgba(184,83,184,0.00); 
      grid-area: left;
	z-index: 10;
}
    .dropdown button{display: block;
    background-color: white;}
.dropbtn {
  color: var(--pink);
    display: flex;
  padding: 16px;
  font-size: 16px;
  border: none;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  min-width: 10rem;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0);
  z-index: 1;
}

.dropdown-content a {
  color:var(--pink);
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}
    
.dropdown-content a:hover {background-color: var(--pink);
color:white;}

.dropdown:hover .dropdown-content {display: block;}

.dropdown:hover  {background-color: var(--pink);
color:white;}
    .dropbtn:hover{background-color: rgba(223,213,213,1.00);}
}

    
    